@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  background-color: #09090b;
  color: white;
  min-height: 100vh;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
select,
button {
  font: inherit;
}